.btnPrimary,
.btnSecondary {
	font-weight: var(--fw-medium);
	cursor: pointer;
	border: none;
	transition: background-color 100ms ease-in;
}

.btnPrimary:focus-visible,
.btnSecondary:focus-visible {
	outline: 2px solid var(--clr-neutral-d-grey);
}

.btnPrimary {
	color: var(--clr-neutral-white);
	background-color: var(--clr-primary);
}

.btnPrimary:hover,
.btnPrimary:active {
	background-color: var(--clr-primary-s2);
}

.btnSecondary {
	color: var(--clr-primary);
	background-color: transparent;
}

.btnSecondary:hover,
.btnSecondary:active {
	background-color: var(--clr-primary-t5);
}
