.imgSection1,
.imgSection2 {
	margin-bottom: 48px;
}

.imgSection1 {
	padding: 52px 0;
}

.imgSection1 .container,
.imgSection2 .container {
	justify-content: center;
	align-items: center;
	gap: 49px;
}

.imgSection1 .container > img,
.imgSection2 .container > img {
	width: 38%;
}

.imgSection1 .container > div,
.imgSection2 .container > div {
	width: 57%;
}

.imgSection1 .heading,
.imgSection2 .heading {
	color: var(--clr-neutral-d-grey);
}

.imgSection1 .heading {
	width: 85%;
}
.imgSection2 .heading {
	width: 90%;
}
.imgSection1 .paragraph,
.imgSection2 .paragraph {
	width: 85%;
	margin-top: 16px;
}

@media screen and (max-width: 900px) {
	.imgSection1 .container > div,
	.imgSection2 .container > img {
		width: 50%;
	}
}

@media screen and (max-width: 750px) {
	.imgSection1 .container,
	.imgSection2 .container {
		flex-direction: column;
	}
	.imgSection1 .container > div,
	.imgSection2 .container > div {
		width: 100%;
		text-align: center;
	}
	.imgSection1 .container > img,
	.imgSection2 .container > img {
		width: 60%;
	}
	.imgSection1 .heading,
	.imgSection2 .heading,
	.imgSection1 .paragraph,
	.imgSection2 .paragraph {
		width: 100%;
	}
}

@media screen and (max-width: 450px) {
	.imgSection1 .container > img,
	.imgSection2 .container > img {
		width: 100%;
	}
}

.achievements .h2 {
	color: var(--clr-neutral-d-grey);
}

.achievements {
	background-color: var(--clr-neutral-silver);
	padding: 64px 0;
	margin-bottom: 48px;
}

.achievements > div {
	justify-content: space-between;
	gap: 72px;
	align-items: center;
}

.achievements > div > div {
	width: 50%;
}

.achievements .primaryColorText {
	color: var(--clr-primary);
}

.achievements .p {
	margin-top: 8px;
	color: var(--clr-neutral-d-grey);
}

.achievements .counterContainer {
	flex-direction: column;
	gap: 40px;
}

.counterContainer > div {
	gap: 30px;
}

.counterContainer .achievement {
	width: 50%;
}

@media screen and (max-width: 1000px) {
	.achievements > div > div:nth-child(2) {
		width: 60%;
	}
}

@media screen and (max-width: 820px) {
	.achievements .counterContainer {
		gap: 30px;
	}

	.achievements > div > div:first-child {
		width: 65%;
	}
	.achievements > div > div:nth-child(2) {
		width: 35%;
	}

	.counterContainer > div {
		flex-direction: column;
		align-items: flex-end;
	}
}

@media screen and (max-width: 640px) {
	.achievements > div {
		flex-direction: column;
		gap: 40px;
	}
	.achievements > div > div:first-child,
	.achievements > div > div:nth-child(2) {
		text-align: center;
		width: unset;
	}
}

.testimonials {
	padding: 32px 0;
	margin-bottom: 48px;
	background-color: var(--clr-neutral-silver);
}

.testimonials > div {
	justify-content: space-between;
	align-items: flex-start;
	gap: 72px;
}

.testimonials > div > div {
	width: 64%;
}

.testimonials > div > img {
	width: min(80%, 326px);
	aspect-ratio: 1 /1;
	border-radius: 8px;
	object-fit: cover;
	box-shadow: 0px 8px 16px rgba(171, 190, 209, 0.4);
}

.testimonials .testimonialText {
	margin-bottom: 16px;
}

.testimonials .testimonialText {
	font-size: var(--fs-body-md);
	font-weight: var(--fw-regular);
	line-height: 2.4rem;
	color: var(--clr-neutral-grey);
}

.testimonials .author {
	color: var(--clr-primary);
	margin-bottom: 8px;
}

.testimonials .designation {
	margin-bottom: 32px;
}

.testimonials .clientLogos {
	justify-content: space-between;
	margin-top: 32px;
	gap: 20px;
	flex-wrap: wrap;
	align-items: center;
}

.arrowIcon {
	width: 24px;
	height: 24px;
	background-image: url("../images/rightArrow.svg");
	display: inline-block;
	transform: translateY(25%);
}

.communityUpdates .h2 {
	color: var(--clr-neutral-d-grey);
}

.communityUpdates .h2,
.communityUpdates .p {
	text-align: center;
}

.communityUpdates .p {
	margin: 8px auto 16px;
	width: 55%;
}

.communityUpdates > div > div {
	justify-content: space-between;
}

.updateCard {
	width: 32%;
}

.updateCard > div:first-child {
	/* first div */
	width: 100%;
	height: 286px;
	border-radius: 8px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.updateCard > div:nth-child(2) {
	/* second div */
	box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
	background-color: var(--clr-neutral-silver);
	text-align: center;
	border-radius: 8px;
	padding: 16px;
	width: 86%;
	margin: -25% auto 0;
}

@media screen and (max-width: 900px) {
	.testimonials > div {
		flex-direction: column;
		align-items: center;
		gap: 40px;
	}
	.testimonials > div > div {
		width: 100%;
	}
	.testimonials .author,
	.testimonials .designation {
		text-align: center;
	}
	.testimonials .clientLogos {
		justify-content: center;
		gap: 34px;
	}
	.communityUpdates .p {
		width: 90%;
	}
	.communityUpdates > div > div {
		flex-direction: column;
		align-items: center;
		gap: 40px;
	}
	.updateCard {
		width: max(300px, 40%);
	}
	.updateCard > div:first-child {
		height: 240px;
	}
}
