.h1,
.h2,
.h3,
.h4 {
	font-weight: var(--fw-semi-bold);
}

.h1 {
	font-size: var(--fs-heading-lg);
	line-height: 7.6rem;
}

.h2 {
	font-size: var(--fs-heading-md);
	line-height: 4.4rem;
}

@media screen and (max-width: 950px) {
	.h1 {
		font-size: 5.6rem;
		line-height: 6.8rem;
	}
	.h2 {
		font-size: 3.2rem;
		line-height: 4rem;
	}
}

.h3 {
	font-size: var(--fs-heading-sm);
	line-height: 3.6rem;
}

.h4 {
	font-size: var(--fs-heading-xs);
	line-height: 2.8rem;
}
