.intro {
	background-color: var(--clr-neutral-silver);
	height: 599px;
}

.intro > div {
	height: 100%;
	justify-content: space-between;
	align-items: center;
	gap: 104px;
}

.intro img {
	max-height: 407px;
}

.intro h1 {
	font-size: var(--fs-heading-lg);
	color: var(--clr-neutral-d-grey);
	line-height: 7.6rem;
	margin-bottom: 16px;
}

.intro h1 > span {
	color: var(--clr-primary);
}

.intro p {
	line-height: 2.4rem;
	margin-bottom: 32px;
	font-size: var(--fs-body-md);
	color: var(--clr-neutral-grey);
}
