.header {
	--header-height: 84px;
	background-color: var(--clr-neutral-silver);
	position: sticky;
	top: 0;
	z-index: 9999;
}

.navContainer {
	width: calc(80% + 86px);
	margin: 0 auto;
	max-width: 1238px;
	justify-content: space-between;
	align-items: center;
	min-height: var(--header-height);
}

.navbar {
	justify-content: space-between;
	align-items: center;
	flex-basis: 75%;
}

.navList {
	width: 65%;
	justify-content: space-between;
}

.navListTwo {
	gap: 14px;
}

.hamburgerMenu {
	display: none;
}

@media screen and (max-width: 1100px) {
	.navContainer {
		width: calc(100% - 30px);
	}
}

@media screen and (max-width: 950px) {
	/* complet mobile navbar */

	.navbar {
		position: absolute;
		right: -100%;
		top: 100%;
		background-color: var(--clr-neutral-silver);
		flex-direction: column;
		align-items: stretch;
		height: 100vh;
		width: min(100%, 300px);
		padding: 0 20px 20px 20px;
		gap: 30px;
		justify-content: flex-start;
		transition: right 0.3s ease-in-out;
	}
	.navbar.show {
		right: 0;
	}
	.navList {
		flex-direction: column;
		gap: 30px;
		width: 100%;
		margin-top: 30px;
		align-items: center;
	}
	.navListTwo {
		flex-direction: column;
	}
	.navListTwo .btn {
		width: 100%;
	}
	.hamburgerMenu {
		display: block;
		cursor: pointer;
	}

	.hamburgerMenu span {
		display: block;
		width: 25px;
		height: 4px;
		border-radius: 4px;
		background-color: var(--clr-primary);
		transition: transform 250ms cubic-bezier(0, -0.64, 0.76, 1.39);
	}
	.hamburgerMenu .second {
		margin: 4px 0;
	}

	.hamburgerMenu.open .first {
		transform: translateY(8px) rotate(45deg);
	}
	.hamburgerMenu.open .second {
		transform: scale(0);
	}
	.hamburgerMenu.open .third {
		transform: translateY(-8px) rotate(-45deg);
	}
}
