.header {
	background-color: var(--clr-neutral-silver);
}

.navbar {
	justify-content: center;
	align-items: center;
	height: 84px;
	width: calc(80% + 86px);
	max-width: 1238px;
	margin: 0 auto;
}

.navList {
	width: 47%;
	justify-content: space-between;
}
