.header {
	background-color: var(--clr-neutral);
}

.navbar {
	justify-content: center;
	align-items: center;
	height: 84px;
	width: calc(80% + 86px);
	max-width: 1238px;
	margin: 0 auto;
}

.navList {
	gap: 50px;
}

.navLink::before {
	content: "";
	background-color: var(--clr-primary);
	position: absolute;
	bottom: -5px;
	height: 1px;
	border-radius: 0.5px;
	width: 100%;
	transform: scaleY(0);
	display: block;
	transition: transform 100ms ease-in;
}

.navLink:hover::before,
.navLink:active::before,
.navLink.active::before {
	transform: scaleY(1);
}
