.demo {
	background-color: var(--clr-neutral-silver);
	padding: 32px 0;
	margin-top: 95px;
}

.demo .h2 {
	font-size: var(--fs-heading-lg);
	color: var(--clr-neutral-d-grey);
	line-height: 7.6rem;
	text-align: center;
	width: 76%;
	margin: 0 auto;
	margin-bottom: 32px;
}

.footer {
	background-color: var(--clr-neutral-black);
	padding: 64px 0;
}

.footer > div {
	justify-content: space-between;
}

.footer .companyInfo .brandLogo {
	color: var(--clr-neutral-white);
}

.footer .companyInfo .p {
	margin-bottom: 8px;
}

.footer .socials {
	margin-top: 40px;
	gap: 16px;
}

.footer .socials a {
	justify-content: center;
	align-items: center;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background-color: var(--clr-neutral-d-grey);
}

.footer .socials a img {
	vertical-align: middle;
}

.footer .links {
	justify-content: space-between;
	gap: 60px;
}

.footer .links .h4 {
	color: var(--clr-neutral-white);
	margin-bottom: 24px;
}

.footer .links li {
	line-height: 2rem;
	margin-bottom: 12px;
}

.footer .form {
	position: relative;
	width: 255px;
}

.footer .form input {
	border-radius: 8px;
	background-color: var(--clr-neutral-d-grey);
	padding: 11px 12px;
	min-height: 40px;
	border: none;
	width: 100%;
	color: var(--clr-neutral-silver);
}

.footer .form input:focus-visible {
	outline: 1px solid var(--clr-neutral-white);
}

.footer .form input::placeholder {
	font-size: var(--fs-body-sm);
	color: var(--clr-neutral-silver);
	font-weight: var(--fw-regular);
}

.footer .form button {
	position: absolute;
	padding: 11px 12px;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.footer .form button > img {
	vertical-align: middle;
}

@media screen and (max-width: 950px) {
	.demo .h2 {
		font-size: 5.6rem;
		line-height: 6.8rem;
		width: 90%;
	}
	.footer .links {
		gap: 30px;
	}
}

@media screen and (max-width: 840px) {
	.footer > div {
		flex-direction: column;
		row-gap: 40px;
	}
}

@media screen and (max-width: 840px) {
	.footer .links {
		flex-direction: column;
	}
}

@media screen and (max-width: 450px) {
	.demo .h2 {
		font-size: 4.8rem;
		line-height: 6rem;
		width: 100%;
	}
}
